@import url("normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

/* label {
  display: block;
} */

body {
  font-family: "Noto Sans", sans-serif;
}

.form {
  text-align: center;
}

.title--statement {
  text-align: center;
}

@media (min-width: 600px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
  }

  .img {
    margin-right: auto;
    margin-left: 60px;
  }

  .support {
    margin-left: auto;
    margin-right: 60px;
  }

  .support--link {
    text-decoration: none;
    color: #483c31;
  }
  .line1 {
    border-top: 2px solid #a94b0c;
    width: 10%;
  }
  .line {
    border-top: 2px solid #bfb4a3;
    width: 10%;
  }

  .one {
    margin-left: -120px;
    border: 2px solid #a94b0c;
    background-color: #ff7417;
    color: #fff;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .two {
    border: 2px solid #a94b0c;
    color: #a94b0c;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .three,
  .four {
    border: 2px solid #bfb4a3;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title--statement {
    font-weight: 600;
    font-size: 24px;
  }

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #483c31;
    margin-top: 35px;
    margin-left: 30px;
  }
  .form {
    text-align: start;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

  form {
    padding: 30px;
  }
  input,
  select {
    width: 100%;
    padding: 10px 4em 10px 7px;
    margin: 10px 0 0 0;
    box-sizing: border-box;
    border: 2px solid #917d6b;
    border-radius: 4px;
  }

  select {
    background-color: white;
  }

  .select--wrapper {
    position: relative;
    margin-top: 20px;
  }

  fieldset {
    border: none;
  }

  #ship {
    width: 3%;
    padding: 10px 4em 10px 7px;
    margin: 10px 0 0 0;
    box-sizing: border-box;
    border: 2px solid #917d6b;
    border-radius: 4px;
    accent-color: #a94b0c;
  }

  .button {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    margin-left: 265px;
  }

  .whitebutton {
    color: #ff7417;
    border: 1px solid #ff7417;
    background-color: #fff6f0;
    border-radius: 5px;
    padding: 0.5em;
  }
  .orangebutton {
    color: #fff;
    background-color: #ff7417;
    padding: 0.5em;
    border-radius: 5px;
    border: none;
  }
}
